<div class="mx-auto " >
  <%= link_to "home", root_path() %>
  <div class="d-flex flex-column border border-dark rounded border-2 p-2 mt-2">
    <h3><%= @post.title %> by <%= @post.author.name%> </h3>
    <div class="d-flex justify-content-end">
      <span class="">Comments: <%= @post.comments.count%> </span>, 
      <span class="ml-2" > Comments: <%= @post.likes.count%> </span>
    </div>
    <p> <%= @post.text %> </p>
  </div>
  <%= link_to new_user_post_comment_path(@user, @post) do %>
    <button class="btn btn-secondary m-2 p-2" >New Comment</button>
  <% end %>
  <div class="border border-dark rounded mt-2 p-3">
    <h5>Comments</h5>
    <div class="border mt-1 p-2">
      <% @post.comments.each do |comment| %>
        <div class="d-flex justify-content-between m-2">
          <p>
            <span class="fw-bold mr-2"> <%= comment.author.name %> : </span>
            <span class="fw-italic"> <%= comment.text %> </span>
          </p>
          <% if can? :destroy, comment%>
            <%=link_to "Delete", user_post_comment_path(@user, @post, comment),
            data: { turbo_method: :delete, turbo_confirm: "Are You Sure?"  },
            class: 'btn btn-danger btn-sm' %>
          <%end%>
        </div>
        <hr>
      <%end%>
    </div>
  </div>
</div>
