<div class="mx-auto " >
  <%= link_to "home", root_path() %>
  <div class="d-flex flex-column border border-dark rounded border-2 p-2 mt-2">
    <h3><%= @post.title %> by <%= @post.author.name%> </h3>
    <div class="d-flex justify-content-end">
      <span class="">Comments: <%= @post.comments.count%> </span>, 
      <span class="ml-2" > Comments: <%= @post.likes.count%> </span>
    </div>
    <p> <%= @post.text %> </p>
  </div>
  <%= link_to new_user_post_comment_path(@user, @post) do %>
    <button class="btn btn-secondary m-2 p-2" >New Comment</button>
  <% end %>
  <div class="border border-dark rounded mt-2 p-3">
    <h5>Comments</h5>
    <div class="border mt-1 p-2">
      <% @post.comments.each do |comment| %>
        <p>
          <span> <%= comment.author.name %> : </span>
          <span> <%= comment.text %> </span>
        </p>
      <%end%>
    </div>
  </div>
</div>
